/* Hero */
.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
  background: url('../assets/img/home_background.jpg') no-repeat center center / cover;
}

.hero h1 {
  font-size: 70px;
  margin-bottom: 1rem;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: normal;
}

.hero p {
  max-width: 600px;
  font-size: 40px;
  color: #3f3f3f;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fffafa58;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 16px #fffafa58;
}

/* Home Sections */
.home-section {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.mini-services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin: 1rem 10% 0px 10%;
}

.mini-services .card {
  background: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.mini-services .card:hover {
  background-color: #eee;
  box-shadow: -5px 5px 10px #999;
  cursor: pointer;
}

.mini-services .card img {
  width: 40px;
  margin-bottom: 0.75rem;
}
.overview {
  margin: 16px 0px;
  padding: 64px 0px;
  max-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #607883;
}
.overview div {
  max-width: 400px;
}

.testimonials .testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonial {
  background: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  font-style: italic;
}

.testimonial span {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
  font-size: 0.9rem;
  color: #555;
}