#pricing {
    padding: 0px 20%;
}

.insurance-source-wrapper {
    text-align: center;
    border: 4px solid #607883;
    border-radius: 8px;
    position: relative;
    margin: 64px 0px;
}
.insurance-source-wrapper h2 {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffafa;
    padding: 0px 16px;
}

.coverage-tiers {
    justify-content: space-evenly;
    align-items: center;
    margin: 32px;
    flex-wrap: wrap;
    gap: 32px
}

.pricing-plan {
    box-shadow: 0px 0px 12px 2px #607883;
    border-radius: 8px;
    padding: 12px 32px;
}

.pricing-plan button {
    margin: 16px;
}

.benefactor-col {
    text-align: left;
    padding-left: 8px;
}
.result-row { border-top: 2px solid black; }
.time-increment-col { text-align: left; }

@media (max-width: 768px) {
    #pricing { padding: none; }
}