/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

:root {
    --primary: #758591;
    --secondary: #948a62;
}

/* Layout */
html, body {
  height: 100%;
}

.row, .col { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }

body {
  display: flex;
  flex-direction: column;
  color: #333;
  background: white;
}

button {
    border: 6px solid transparent;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: var(--primary);
    color: white;
    font-size: 1rem;
}
button:hover {
    color: var(--secondary);
    background-color: white;
    border: 6px solid var(--secondary);
}

#hero {
    margin: 16px 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#hero img {
    width: 30vw;
    min-width: 248px;
    height: auto;
}
#hero h1 {
    color: var(--primary);
    font-size: 2rem;
}
#logo {
    color: var(--secondary);
    font-size: 1.2rem;
}
#headline {
    margin: 16px;
}

#why-direct-care h2 {
    text-align: center;
}
#why-direct-care table {
    margin: auto;
}
.wdc-head {
    font-weight: 600;
    font-size: 18px;
}
.wdc-body {
    padding: 16px;
    padding-right: 0px;
    max-width: 400px;
}

#plans-pricing {
    border-top: 2px solid black;
    padding-top: 64px;
}
#plans-pricing h2, #plans-pricing p, #plans-pricing a {
    text-align: center;
}
#plans-pricing table, #plans-pricing button {
    margin: 32px auto;
}

#plans-pricing {
    padding-top: 16px;
}
.pp-body {
    padding: 8px;
    padding-right: 0px;
    max-width: 400px;
}

#questions {
    border-top: 2px solid black;
    padding-top: 32px;
}
#questions h2, #questions p, #questions a {
    text-align: center;
}
#questions p {
    margin: 16px;
}

#meet-provider {
    border-top: 2px solid black;
    padding: 32px 0px;
    justify-content: center;
}
#meet-provider img {
    width: 30vw;
    max-width: 600px;
    min-width: 260px;
    height: auto;
    margin: auto;
}
#meet-provider h2, #meet-provider h3, #meet-provider a {
    text-align: center;
}
#meet-provider p {
    width: 40vw;
    margin: auto;
}
#meet-provider h3, #meet-provider button {
    margin-top: 32px;
}

#kind-of-care {
    border-top: 2px solid black;
    padding: 32px 0px;
    text-align: center;
}
#kind-of-care ul {
    text-align: left;
    width: fit-content;
    margin: 32px auto;
}

#wrap-up {
    border-top: 2px solid black;
    padding-top: 32px;
    text-align: center;
}
#wrap-up button { 
    margin-top: 16px;
}

#contact-us {
    width: 250px;
    margin: 64px auto;
    text-align: center;
}
#contact-us input {
    margin: 4px;
}
#contact-us input[type="submit"] {
    width: fit-content;
    padding: 16px;
    margin: 16px auto;
}

#footer {
    min-height: 32px;
}